* {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #f0f0f0;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  width: 400px;
  display: flex;
}
input {
  width: 90%;
  height: 70px;
  font-size: 1.7rem;
  text-align: center;
  border: 1px solid grey;
  outline: none;
}
input:nth-child(2){
  margin-left: 10px;
}
.labels {
  width: 400px;
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
